* {
    box-sizing: border-box;
}
.area {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
  
.gridSquare {
  border: 1px solid black;
  height: 25px;
  width: 25px;
}

.area>div:nth-child(17n + 1) {
    width: 100%;
    border: 0;
    height: 0;
}

.highlighted {
  background-color: green;
}